
*{
    margin: 0;
    padding: 0;}





#navbarSupportedContent{
    margin-left: 200px;
    
}
#navbarSupportedContent a{
    color: black;
    padding-left: 5px
    ;
}
#navbarSupportedContent a:hover{
    opacity: 0.5;
    transition:ease;
    color: orange;
    border-radius: 20px;
    border: darkblue solid 1px ;
    padding: 3px 8px;
}

li{
    padding-left: 10px;
}
.card
{
    margin-top: 5px;
    background-color: gray;
    
}
.choice{
    margin: 5%;
}

